.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 95px 0;
    &-header {
        &__header {
            color: #0d0d0d;
            font-size: 29px;
            font-weight: 700;
            text-align: center;
        }
    }
    &-doing {
        margin-top: 65px;
        &-wrapper {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            &__subtitle {
                margin-top: 35px;
                color: #0d0d0d;
                font-size: 18px;
                font-weight: 700;
                text-align: center;
            }
            &__text {
                margin-top: 26px;
                color: #0d0d0d;
                font-size: 14px;
                font-weight: 500;
                text-align: center;
                &_width {
                    width: 243px;
                }
                span {
                    display: block;
                    color: $main-color;
                    text-decoration: underline;
                }
            }
        }
    }
    
}